@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Prata&display=swap');
:root {
    --bs-primary: #22064C !important;
    --bs-secondary: #490CA4 !important;
    --bs-success: #2DAE90 !important;
    --bs-danger: #D72828 !important;
    --bs-purple: #31006F !important;
    --bs-light: #fff !important;
    --bs-dark: #000 !important;
    --bs-gray: #AFAFAF !important;
    --bs-darkgray: #4c4c4c !important;
}

body {
    background-color: var(--bs-primary);
    color: var(--bs-light);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 15px;
    background-color: var(--bs-primary);
    width: 100%; /* Ocupa toda a largura */
}

.back-button {
    position: absolute;
    left: 15px;
    color: var(--bs-light);
    font-size: 1.5em;
    text-decoration: none;
}

.title {
    font-size: 1.5em;
    margin: 0 auto;
}

.container {
    width: 100%; /* Ocupa toda a largura da tela */
    padding: 0 15px; /* Adiciona espaçamento lateral */
}

.investment-card {
    background-color: var(--bs-purple);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
    width: 100%; /* Garante que cada card ocupe a largura total */
}

.apply {
    position: absolute;
    top: 10;
    right: 1rem; /* Mantém o botão na extremidade direita */
    color: var(--bs-light);
    font-size: 1.5em;
    text-decoration: none;
}

.investment-title {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--bs-light);
    margin-bottom: 10px;
}

.investment-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-item {
    display: flex;
    justify-content: space-between;
    color: var(--bs-gray);
}

.label {
    font-weight: bold;
}

.value {
    color: var(--bs-light);
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background-color: var(--bs-primary);
}

.footer-icon {
    color: var(--bs-light);
    font-size: 1.5em;
    text-decoration: none;
}

/* Responsividade */
@media (max-width: 576px) {
    .investment-info {
        flex-direction: column;
    }

    .apply {
        right: 0.5rem; /* Ajusta o botão em telas muito pequenas */
    }
}

@media (min-width: 768px) {
    .apply {
        right: 1rem;
    }
}

@media (min-width: 992px) {
    .apply {
        right: 1.5rem;
    }
}
