@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Prata&display=swap');

:root {
    --bs-primary: #22064C !important;
    --bs-secondary: #490CA4 !important;
    --bs-success: #2DAE90 !important;
    --bs-info: #2C8F82 !important;
    --bs-danger: #D72828 !important;
    --bs-purple: #31006F !important;
    --bs-light: #fff !important;
    --bs-dark: #000 !important;
    --bs-gray: #AFAFAF !important;
    --bs-darkgray: #4c4c4c !important;
}

body {
    background: linear-gradient(180deg, var(--bs-primary) 0%, var(--bs-secondary) 100%);
    color: var(--bs-light);
}

main {
    height: 100vh;
    margin: 24px 12px;
    background-color: rgb(217, 217, 217, 0.1);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.profile-header {
    background-color: var(--bs-success);
    padding: 2rem 1rem;
    text-align: center;
}

.profile-header h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.profile-icon {
    width: 100px;
    height: 100px;
    background-color: var(--bs-secondary);
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

.profile-icon img {
    width: 50px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s;
}

.profile-icon a img:hover {
    transform: scale(1.1);
}

.camera-icon img {
    width: 20px;
    position: relative;
    bottom: 0px;
    right: 0;
}

.form-section {
    background-color: var(--bs-secondary);
    padding: 2rem;
    border-radius: 8px;
}

.form-section h2 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--bs-light);
}

.form-control {
    background-color: var(--bs-light);
    border: none;
    color: var(--bs-dark);
}

.form-control::placeholder {
    color: var(--bs-gray);
}

.btn {
    width: 100%;
    background-color: var(--bs-success);
    color: var(--bs-light);
    font-weight: bold;
    padding: 0.75rem;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: var(--bs-info);
}

.nav-icons {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bs-primary);
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
}

.nav-icons i {
    color: var(--bs-light);
    font-size: 1.5rem;
}
.readonly-field{
    background-color: #e9ecef;
    border: 2px solid #6c757d;
    font-weight: bold;
    cursor: not-allowed;
}

.dir-reservados {
    text-align: center;
    padding-bottom: 64px;
}

footer {
    background-color: var(--bs-purple);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.rodape {
    margin: 0 auto;
    max-width: 900px;
    height: 70px;
    width: 100vw;
    padding: 16px;
}

.img-footer {
    height: 64px;
    width: 64px;
}

.footer-logo {
    height: 42px;
}